/*
    Document   : resources/css/menu.css
    Created on : 2016-05-17 10:49 PM
    Author     : pedruino
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@media screen and (min-width: 769px) {
    .nav-wrapper ul.center {
        display: block;
        width: auto;
    }
    .nav-wrapper > ul.center li {
        float: none;
        display: inline-block;
    }
}
/*** menu ***/

.navbar-inverse {
    /*height: auto;*/    
    z-index: 998;
}
.navbar-inverse nav {
    /*margin-top: 50px;*/
    /*height: 100px;*/    
    background: transparent;
    box-shadow: none;
}
.navbar-inverse nav .brand-logo {
    /*margin-top: -50px;*/
}
.navbar-inverse nav ul a {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 300ms linear;
}
.navbar-inverse nav.pinned {
    /*margin-top: 0px;*/
    height: 60px;
    background: #f5f5f5;
    background: rgba(0, 0, 0, 0.7);
    transition: all 300ms linear;
    border-bottom: 3px solid #138A4E;
}
.navbar-inverse nav.pinned .brand-logo {
    margin-top: 0px;
}
.navbar-inverse nav.pinned ul a {
    padding-left: 15px;
    padding-right: 15px;
    transition: all 300ms;
}
/* testes */

.top-menu {
    position: relative;
    background: black;
    top: 30px;
}
.nav-fixed {
   /*height: 54px;*/
    position: absolute;    
    width: 100%;
}
nav.pinned .top-menu {
    background: inherit;
    top: inherit;
}
/* 
 * 
.one-page-menu{
    position: relative;
    top: 54px;
    width: 100%;
}
.navbar-fixed {
   position: fixed;
}
* testes end */
/*
.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 998
}
.navbar-fixed nav {
    position: fixed
}
@media only screen and (min-width: 601px) {
    nav {
        height: 54px;
        line-height: 54px
    }
    .navbar-fixed {
        height: 54px
    }
}
*/