  /* Social */
  a.icon_bar{border-color:  rgba(0,0,0,.08);color: #444 ;}
  a.icon_bar_facebook span.b { background: #3a589b; color: #fff; }
  a.icon_bar_google_plus_plus span.b { background: #d6492f; color: #fff; }
  a.icon_bar_twitter span.b { background: #32ccfe; color: #fff; }
  a.icon_bar_vimeo span.b { background: #1ca7cc; color: #fff; }
  a.icon_bar_youtube span.b { background: #ff3334; color: #fff; }
  a.icon_bar_flickr span.b { background: #ff0084; color: #fff; }
  a.icon_bar_linkedin span.b { background: #007bb6; color: #fff; }
  a.icon_bar_pinterest span.b { background: #cb2027; color: #fff; }
  a.icon_bar_dribbble span.b { background: #ec4a89; color: #fff; }

  /* Icon bar */
  a.icon_bar { display: inline-block; overflow: hidden; text-align: center; margin: 0px 2px 2px 0; border-width: 1px; border-style: solid; position: relative; background-color: #fff; background-image: url(../img/stripes/stripes_3_b.png); -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08); box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08); }
  a.icon_bar span { display: block; }
  a.icon_bar, a.icon_bar span { width: 58px; height: 58px; line-height: 58px; font-size: 20px; }
  a.icon_bar_small, a.icon_bar_small span { width: 43px; height: 43px; line-height: 43px; font-size: 15px; }
  a.icon_bar span.t { position: relative; }
  a.icon_bar span.b { position: absolute; top: 100%; }

  /* Animation */
  a.icon_bar span { -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; }
  a.icon_bar span.b { -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
  a:hover.icon_bar span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); }
  
  /* Social */
  a.icon_bar_facebook span.b { background: #3a589b; color: #fff; }
  a.icon_bar_google_plus span.b { background: #d6492f; color: #fff; }
  a.icon_bar_twitter span.b { background: #32ccfe; color: #fff; }
  a.icon_bar_vimeo span.b { background: #1ca7cc; color: #fff; }
  a.icon_bar_youtube span.b { background: #ff3334; color: #fff; }
  a.icon_bar_flickr span.b { background: #ff0084; color: #fff; }
  a.icon_bar_linkedin span.b { background: #007bb6; color: #fff; }
  a.icon_bar_pinterest span.b { background: #cb2027; color: #fff; }
  a.icon_bar_dribbble span.b { background: #ec4a89; color: #fff; }